<!--<?php print <<<EOT
--><!DOCTYPE html>
<html lang="zh-Hant-TW">
<head itemscope itemtype="http://schema.org/WebSite" prefix="og:http://ogp.me/ns# fb:http://ogp.me/ns/fb# article:http://ogp.me/ns/article#">
<title itemprop="name">$title</title>
<meta charset="utf-8">
<meta http-equiv='X-UA-Compatible' content='IE=Edge;requiresActiveX=true,chrome=1'>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="windows-Target" content="_top">
<meta http-equiv="imagetoolbar" content="false">
<meta name="rating" content="mature">
<meta name="keywords" content="$keywords">
<meta name="description" itemprop="description" content="$description" >
<link rel="stylesheet" href="css/bootstrap-icons-1.10.3/bootstrap-icons.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/main.css">
<script type="text/javascript" src="js/jquery-3.6.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
</head>
<body>
<!-- header -->
<div class="container-xxl">


      <nav class="navbar navbar-expand-lg  rounded" aria-label="Eleventh navbar example">
            <div class="container-fluid">
                  <a class="navbar-brand" href="#"><img src="image/logo.png"></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="collapse navbar-collapse" id="navbarsExample09">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                              <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="index.php">首頁</a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link">產品</a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link">新聞</a>
                              </li>
                              <li class="nav-item"><a class="nav-link" href="#">發展願望</a></li>
                              <li class="nav-item"><a class="nav-link" href="#">投資關係</a></li>
                              <li class="nav-item"><a class="nav-link" href="#">關於我們</a></li>
                              <!--li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">更多</a>
                                    <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="#">發展願望</a></li>
                                          <li><a class="dropdown-item" href="#">投資關係</a></li>
                                          <li><a class="dropdown-item" href="#">關於我們</a></li>
                                    </ul>
                              </li-->

                        </ul>
                        <ul class="navbar-nav">
<!--
EOT;
if(!empty($userid)){print <<<EOT
-->
                              <li class="nav-item">  <a href="personal.php" class="nav-link" ><i class="bi bi-person-circle"></i> {$username}</a> </li>
                              <li class="nav-item"><a href="logout.php" class="nav-link" ><i class="bi bi-box-arrow-right"></i> 登出</a></li>
<!--
EOT;
} else {print <<<EOT
-->
                              <li class="nav-item"><a href="register.php" class="nav-link"><i class="bi bi-r-square"></i> 註冊</a></li>
                              <li class="nav-item"><a href="login.php" class="nav-link" ><i class="bi bi-box-arrow-in-left"></i> 登入</a></li>
<!--
EOT;
}print <<<EOT
-->

                        </ul>

                  </div>
            </div>
      </nav>


      <br> <br>
<!-- header -->
<!--
EOT;
?>-->