<!--<?php print <<<EOT
--><!DOCTYPE html>
<html lang="zh-Hant-TW">
<head itemscope itemtype="http://schema.org/WebSite" prefix="og:http://ogp.me/ns# fb:http://ogp.me/ns/fb# article:http://ogp.me/ns/article#">
<title itemprop="name">提示</title>
<meta charset="utf-8">
<meta http-equiv='X-UA-Compatible' content='IE=Edge;requiresActiveX=true,chrome=1'>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="none">
<meta http-equiv="windows-Target" content="_top">
<meta http-equiv="imagetoolbar" content="false">
<meta name="rating" content="mature">
<link rel="shortcut icon" href="images/everfortuneai.ico">
<link rel="stylesheet" href="css/bootstrap.min.css">
<script type="text/javascript" src="js/jquery-3.6.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">

<div class="meassage_box">

<div class="jumbotron">

	<h1 class="display-4">提示</h1>

	<p class="lead">

	<center>
       <div class="meassage_box_connet"> $msg  </div>
<!--
EOT;
if($jumpurl){print <<<EOT
-->
<meta http-equiv='refresh' content='$Second; url=$jumpurl'>
<a href="$jumpurl">如果未自動跳轉,請按這邊..</a>
<!--
EOT;
}else{print <<<EOT
-->
<br><br><br><br>
<input class="btn btn-primary btn-lg" type="button" value="返迴" onclick="window.history.back();" />
<!--
EOT;
}print <<<EOT
-->
     </center>


	</p>


</div>
</div>
</div>
<script>
$(document).ready(function(){
	$(window).resize(function(){
       	$(".meassage_box").css('margin-top',$(window).height()/2 - $('.meassage_box').height()/2   + "px");
       });
       $(".meassage_box").css('margin-top',$(window).height()/2 - $('.meassage_box').height()/2   + "px");
       window.history.forward(1);

});
</script>
</body>
</html>
<!--
EOT;
?>-->
